.vs/ProxyDllMaker/FileContentIndex/7548da3c-f9df-497a-b5e2-db1584232bf6.vsidx
.vs/ProxyDllMaker/CopilotIndices/17.13.430.18484/CodeChunks.db
.vs/ProxyDllMaker/CopilotIndices/17.13.430.18484/SemanticSymbols.db
.vs/ProxyDllMaker/FileContentIndex/9959f5fa-4eb1-49a5-bc08-50261c0a25d6.vsidx
.vs/ProxyDllMaker/v17/.suo
.vs/ProxyDllMaker/v17/DocumentLayout.backup.json
.vs/ProxyDllMaker/v17/DocumentLayout.json
/ProxyDllMaker/obj
/.vs/ProxyDllMaker/v17
